body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:50px;
  width:327px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:150px;
  width:310px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
