body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:50px;
  width:510px;
  height:162px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:162px;
}
#u1 {
  position:absolute;
  left:2px;
  top:73px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:96px;
  top:75px;
  width:70px;
  height:70px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
